<img class= "backsize1" src= "https://s-media-cache-ak0.pinimg.com/originals/b3/db/09/b3db09d4dd668a77267e9e9f11e0778d.jpg" height="100%" width="100%">
<div>    
    <h1 class= "todolist">To-Do List</h1>
    <div><strong class= "yan">To-Do App</strong></div>
            <br>
<ul class= "white" style= "list-style-type: none">
    <a class: "a1" href= "show.html">
        <li><input type= "checkbox"> Eat </li> 
    </a>
        <li><input type= "checkbox">Code</li>
        <li><input type= "checkbox">Sleep</li>
</ul> 
    <div id= "new-todo-block">
        <input id="new-todo-description" class= "text-input" type= "text" placeholder= "Task">
            <br>
        <input id="new-pomodoro-estimate" class= "text-input"  type= "number">    
            <br>
        <input class= "text-input" type= "text" placeholder= "description...">
            <br>
        <input id="add-new-todo-button" class= "button" type= "submit" value= "Add">
    </div>
         <input type= "date">
</div>