<div class= "backsize2">    
    <ul>
        <h1 class= "eat2">Eat</h1>
        <br>
        <h4 class= "eat">Desc...</h4></h4>
        <br>
        <h4 class= "eat">Date...</h4>
        <br>
            <a class= "a2" href= "#">Edit</a>
            <a id="deletecolor" href= "#">Delete</a>
            <a href= "index.html">Back</a>
    </ul>
</div>        